@model CarShop.Model.Product

@{
    ViewBag.Title = "Detaylar";
}

<h2>Detaylar</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.Raw(Model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Category.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Photo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Photo)
        </dd>
        <dd>
            <img src="@(ViewBag.AssetsUrl)@Model.Photo" style="width:300px;" />
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Photo2)
        </dt>

        <@*dd>
            @Html.DisplayFor(model => model.Photo2)
        </dd>
        <dd>
            <img src="@(ViewBag.AssetsUrl)@Model.Photo2" style="width:300px;" />
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Photo3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Photo4)
        </dd>
        <dd>
            <img src="@(ViewBag.AssetsUrl)@Model.Photo4" style="width:300px;" />
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Photo4)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Photo3)
        </dd>
        <dd>
            <img src="@(ViewBag.AssetsUrl)@Model.Photo3" style="width:300px;" />
        </dd>*@
        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Stock)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Stock)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.Year)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Year)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GithubLink)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GithubLink)
        </dd>*@




    </dl>
</div>
<p>
    @Html.ActionLink("Düzenle", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Geriye Dön", "Index")
</p>
