@model CarShop.Model.PageContent

@{
    /**/

    ViewBag.Title = "İçerik Ekle";
}

<h2>İçerik Girme Paneli</h2>
<script src="https://cdn.ckeditor.com/4.11.2/standard/ckeditor.js"></script>
<div class="row">
    <div class="col-md-12">

        @using (Html.BeginForm("Create", "PageContent", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4></h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.CategoryPageHeader,"Anasayfa Başlığı", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.CategoryPageHeader, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CategoryPageHeader, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.CategoryPageDescription,"Anasayfa Açıklaması", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextAreaFor(model => model.CategoryPageDescription, new { @class = "form-control ckeditor" })
                    @Html.ValidationMessageFor(model => model.CategoryPageDescription, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label for="Upload" class="control-label col-md-2">
                    Anasayfa Fotoğrafı
                </label>
                <div class="col-md-10">
                    <input type="file" name="Upload" />
                </div>
            </div>

            <h4>Hakkımızda Sayfası İçerikleri</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.AboutPageHeader,"Hakkımızda Sayfa Başlığı", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.AboutPageHeader, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.AboutPageHeader, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.AboutPageDescription,"Hakkımızda Sayfa İçeriği", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextAreaFor(model => model.AboutPageDescription, new { @class = "form-control ckeditor" })
                    @Html.ValidationMessageFor(model => model.AboutPageDescription, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label for="Upload2" class="control-label col-md-2">
                    Hakkımızda Sayfa Fotoğrafı
                </label>
                <div class="col-md-10">
                    <input type="file" name="Upload2" />
                </div>
            </div>

            @*<div class="form-group">





                @Html.LabelFor(model => model.Photo, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.HiddenFor(model => model.Photo)
                    @if (!string.IsNullOrEmpty(Model.Photo))
                    {
                    <img src="@(ViewBag.AssetsUrl)@Model.Photo" style="width:300px;" /><br />
                    }

                    <input type="file" multiple name="Uploads" />

                    @Html.ValidationMessageFor(model => model.Photo, "", new { @class = "text-danger" })
                </div>
            </div>*@
            @*<div class="form-group">
                @Html.LabelFor(model => model.Photo2, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.HiddenFor(model => model.Photo2)
                    @if (!string.IsNullOrEmpty(Model.Photo2))
                    {
                    <img src="@(ViewBag.AssetsUrl)@Model.Photo2" style="width:300px;" /><br />
                    }
                    <input type="file" name="upload2" />
                    @Html.ValidationMessageFor(model => model.Photo2, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Photo3, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.HiddenFor(model => model.Photo3)
                    @if (!string.IsNullOrEmpty(Model.Photo3))
                    {
                    <img src="@(ViewBag.AssetsUrl)@Model.Photo3" style="width:300px;" /><br />
                    }
                    <input type="file" name="upload" />
                    @Html.ValidationMessageFor(model => model.Photo3, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Photo4, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.HiddenFor(model => model.Photo4)
                    @if (!string.IsNullOrEmpty(Model.Photo4))
                    {
                    <img src="@(ViewBag.AssetsUrl)@Model.Photo4" style="width:300px;" /><br />
                    }
                    <input type="file" name="upload" />
                    @Html.ValidationMessageFor(model => model.Photo4, "", new { @class = "text-danger" })
                </div>
            </div>*@

            @*<div class="form-group">
                @Html.LabelFor(model => model.Photo, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Photo, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Photo, "", new { @class = "text-danger" })
                </div>
            </div>*@



            @*<div class="form-group">
                @Html.LabelFor(model => model.Year, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Year, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Year, "", new { @class = "text-danger" })
                </div>
            </div>*@

            @*<div class="form-group">
                @Html.LabelFor(model => model.GithubLink, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.GithubLink, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.GithubLink, "", new { @class = "text-danger" })
                </div>
            </div>*@

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Oluştur" class="btn btn-primary" />
                </div>
            </div>
        </div>
        }

        <div>
            @Html.ActionLink("Geriye Dön", "Index")
        </div>

        @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
        }
    </div>
</div>