@model CarShop.Model.PageContent

@{
    ViewBag.Title = "Detaylar";
}

<h2>Detaylar</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CategoryPageHeader)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CategoryPageHeader)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CategoryPageDescription)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CategoryPageDescription)
        </dd>
        <dt>
            <label for="Upload">
                Anasayfa Fotoğrafı
            </label>
        </dt>
        <dd>

            <a href="@(ViewBag.AssetsUrl)@Model.CategoryPagePhoto">@Model.CategoryPagePhoto</a><br />

        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AboutPageHeader)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AboutPageHeader)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AboutPageDescription)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AboutPageDescription)
        </dd>
        <dt>
            <label for="Upload2">
                Hakkımızda Fotoğrafı
            </label>
        </dt>
        <dd>

            <a href="@(ViewBag.AssetsUrl)@Model.AboutPagePhoto">@Model.AboutPagePhoto</a><br />

        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Stock)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Stock)
        </dd>*@

        @*<dt>
            @Html.DisplayNameFor(model => model.Year)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Year)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GithubLink)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GithubLink)
        </dd>*@




    </dl>
</div>
<p>
    @Html.ActionLink("Düzenle", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Geriye Dön", "Index")
</p>
